<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-span-6 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">New Product</h2>

            <form method="post" enctype="multipart/form-data" th:object="${productDto}">
                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Name</label>
                    <div class="col-span-8">
                        <input class="form-control" th:field="${productDto.name}">
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="${productDto.name}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Brand</label>
                    <div class="col-span-8">
                        <input class="form-control" th:field="${productDto.brand}">
                        <p th:if="${#fields.hasErrors('brand')}" th:errorclass="text-danger" th:errors="${productDto.brand}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Category</label>
                    <div class="col-span-8">
                        <select class="form-select" th:field="${productDto.category}">
                            <option value="other">Other</option>
                            <option value="Phones">Phones</option>
                            <option value="Computers">Computers</option>
                            <option value="Accessories">Accessories</option>
                            <option value="Printers">Printers</option>
                            <option value="Cameras">Cameras</option>
                        </select>
                        <p th:if="${#fields.hasErrors('category')}" th:errorclass="text-danger" th:errors="${productDto.brand}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Price</label>
                    <div class="col-span-8">
                        <input class="form-control" type="number" step="0.01" min="0" th:field="${productDto.price}">
                        <p th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="${productDto.price}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Description</label>
                    <div class="col-span-8">
                        <textarea class="form-control" th:field="${productDto.description}"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger" th:errors="${productDto.description}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="sm:col-span-4 col-form-label">Image</label>
                    <div class="col-span-8">
                        <input class="form-control" type="file" th:field="${productDto.imageFile}">
                        <p th:if="${#fields.hasErrors('imageFile')}" th:errorclass="text-danger" th:errors="${productDto.imageFile}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-sm-4 col-span-4 d-grid">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                    <div class="col-span-4 d-grid">
                        <a class="btn btn-outline-primary" href="/products" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>